body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.blue-highlight{
    color: blue;
}
.half-width{
    width: 42%;
    float: left;
    margin-left: 15px;
    
}

#short-picture{
    width: 100%;
}
.top-banner{
    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.youtube{
    background-color: white;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    text-decoration:none ;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
#jhankar-picture{
    width: 100%;
    
    margin: 15px;
}
.middle-banner{
    
}
#padding{
    padding-left: 20px;
}
.facebook{
    background-color: white;
    background-image: linear-gradient( 45deg,lightsalmon,tomato);
    text-decoration:none;
    padding: 10px 30px;
    border-radius: 5px;
}
#full-stuck{
    font-size: 30px;
    padding: 10px ;
}
#experieenc{
    font-size: 45px;
}
#baby{
    font-size: 30px;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-color: white;
}
.single-experience{
   box-shadow: 10px 10px 40px gray;
   height: 80%;
   margin-left: 7%;
}
#shadow{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#another-shdow{
    border-left: 7px solid;
    border-image: linear-gradient(180deg ,green,blue);
    border-image-slice: 1;
}
footer{
    text-align: center;
}
.margin{
    margin-left: 7%;
}
.another-margin{
    margin-left: 7%;
}